{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1>Erreur</h1>
                        <p>Une erreur est survenue !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
