{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1>Bienvenue sur l'application TVSeries !</h1>
                        <p>Vous pouvez consulter les séries ainsi que leurs épisodes.</p>
                        <a href="{{ path('app_tvseries_list') }}" class="btn btn-lg btn-default">Voir les séries</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
