{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <h2>Message d'information</h2>
                    </div>

                    <div class="row">
                        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                        {% if targetUrl %}
                            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
